// Mixins Here

 .btn(@bg, @color,) {
    cursor: pointer;
    background: @bg;
    color:@color;
    font-size: 2rem;
    padding: 4%;
    text-align: flex-start;
    margin: auto;
    border-radius: 1rem;
    }
    